<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Просмотр товаров</title>
  <link th:href="@{/webjars/bootstrap/5.3.0/dist/css/bootstrap.min.css}" rel="stylesheet"/>
  <link th:href="@{/static/css/product-bucket-ctrl.css}" rel="stylesheet"/>
  <script th:src="@{/static/js/products-bucket-ctrl.js}"></script>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="container-lg">
  <article class="card h-100">
    <h3 class="card-title text-center" th:text="${product.name()}"></h3>
    <img class="card-img-top mt-3 p-md-4"
         style="height: 500px; object-position: center"
         th:alt="${product.name()}"
         th:src="@{/api/v1/image/{id}(id=${product.imageId()})}">
    <div class="card-body">

      <p th:each="paragraph : ${#strings.arraySplit(product.description(), T(org.apache.commons.lang3.StringUtils).LF)}"
         th:if="${!#strings.isEmpty(paragraph)}"
         th:text="${paragraph}"
         style="white-space: pre-wrap;">
      </p>

      <p class="card-subtitle text-center" th:text="'Цена:' + ${product.price()} + 'Р' "></p>

    </div>

    <div th:replace="~{fragments/product-footer :: productFooter(${product.id()}, ${bucketId}, ${product.countInBucket()})}"></div>
  </article>
</div>

</body>
</html>