<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Просмотр товаров</title>
  <link th:href="@{/webjars/bootstrap/5.3.0/dist/css/bootstrap.min.css}" rel="stylesheet"/>
  <link th:href="@{/static/css/product-bucket-ctrl.css}" rel="stylesheet"/>
  <script th:src="@{/static/js/products-bucket-ctrl.js}"></script>
  <script th:src="@{/static/js/bucket.js}"></script>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<h3 class="text-center">Корзина</h3>

<h4 class="text-center" th:text="'Полная цена = ' + ${bucketPrice} + 'Р'"></h4>

<div class="container" th:if="${!products.isEmpty()}">
  <div class="block" style="right: 10px">
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#order-modal">
      Создать заказ
    </button>
  </div>
  <div class="row row-cols-4">
    <div class="col mb-4" th:each="product : ${products}">
      <div th:replace="~{fragments/product-preview :: productPreview(
      ${product.id()}, ${product.imageId()},
      ${bucketId}, ${product.name()},
      ${product.price()}, ${product.countInBucket()}
    )}"></div>
    </div>
  </div>
</div>

<div class="modal fade" id="order-modal"
     tabindex="-1"
     aria-labelledby="create-order-label"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form th:action="@{/order}" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="create-order-label">
            <span>Создание заказа</span>
          </h5>

          <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Закрыть"></button>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary">
            <span>Создать заказ</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script th:src="@{/webjars/bootstrap/5.3.0/dist/js/bootstrap.bundle.min.js}"></script>

</body>
</html>